$primary-color: var(--body-bg-color);
$body-height: var(--body-height);
$text-color: var(--text-color);

.projectsBody {
    background: $primary-color;
    margin: 5%;
    margin-top: 1%;
    overflow-y: scroll;
    border-radius: 12px;
    height: $body-height;
    box-sizing: border-box;
    color: $text-color;
    
    h1 {
        margin: 2%;
    }
}


.projectsDisplay {
    display: flex;
    gap: 5%;
    row-gap: 15px;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    padding: 0;
    margin: 0;
}

.paginatorBar {
    width: 15vw;
    margin: 0 auto;
    margin-top: 2%;
}