$bg-color: var(--card-bg-color);
$text-color: var(--text-color);

.projectCard {
    background-color: $bg-color;
    color: $text-color;
    padding: 2%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 0;
    padding-top: 0;
    border-radius: 10px;
    max-width: 28%; // audjust as needed;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.572);

    span {
        display: block;
        font-size: 1.2em;
        white-space: pre-wrap;
        width: 85%;
    }

}