$primary-color: var(--body-bg-color, #777575c5);
$body-height: var(--body-height,80vh);
$text-color: #fff;
$mobile: 768px;


.contactBody {
    height: $body-height;
    box-sizing: border-box;
    background: $primary-color;
    margin: 5%;
    margin-top: 1%;
    overflow-y: scroll;
    border-radius: 12px;
    color: $text-color;
    padding: 2%;

    ul {
        list-style-type: none;

        li {
            border-bottom: 1px solid white;
            width: min-content;
            
            display: flex;
            flex-direction: column;
            justify-content: center; 
            
            span {
                width: 8vw;
            }
            &:hover {
                cursor: pointer;
            }
        }
    }
}

