@use 'sass:color';

@keyframes SlideIn {
    from {
        transform: translateX(-100%);
    }
    to {
        transform: translateX(0);
    }
}

@keyframes SlideOut {
    from {
        transform: translateX(0);
    }
    to {
        transform: translateX(110%);
    }
}

$primary-color: var(--primary-color,#777575);
$secondary-color: var(--secondary-color,#6B6B6B);
$tertiary-color: var(--tertiary-color,#898989);
$text-color: #fff;
$mobile: 768px;

$image-url: './assets/1000000338.jpg';

$background-image1: url($image-url);

$menu-color: rgba(var(--primary-color), .8);

:root {
    
}

.root {
    background-image: $background-image1;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    margin: 0;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    width: 100%;
    height: 100%;

    @media screen and (max-width: 768px) {
      overflow: hidden;
      position: relative;
    }
}

.AnchorEl {
    text-decoration: none;
}

.subheader {
    background-color: $menu-color;
    // opacity: 47%;
    width: 100vw;
    height: 3%;
}



.slideIn {
  animation: SlideIn 0.3s forwards;
}

.slideOut {
  animation: SlideOut 0.3s forwards;
}